.container {
    display: flex;
    gap: 200px;
}

.mini{
    column-width: 40;
}

.mega{
    column-width: 20;
}

.ultra{
    background-image: "Untitled.png" ;

}

.dark-wrapper {
    background-color: rgb(0, 0, 0, 0.4);
    padding: 5px;
}

.light-wrapper {
    background-color: rgb(255, 255, 255, 0.4);
    padding: 5px;
}